<div class= "shadow-sm p-3 mb-5 bg-white rounded overflow-wrap">

<h1> 
    <span class = "badge badge-pill badge-info" >
        <%= @idea.title %>
    </span>
 </h1>

<p class= "shadow-none p-3 mb-5 bg-light rounded">
    <%= @idea.description%>
</p>
<p><%= @idea.created_at %></p>
<div>
  <strong>By <%= @idea.user.first_name%> </strong>
<%= link_to  "Edit", edit_idea_path(@idea),class: "btn btn-info" %>
<%= link_to  "Delete", idea_path(@idea) ,
 method: :delete , data: {confirm:  "Are you sure?"},class: "btn btn-danger"%>
 </div>
 </div>
 <hr />


